Axiom==0.6.0
BeautifulSoup==3.1.0.1
Brlapi==0.5.5
ClientForm==0.2.10
Coherence==0.6.6.2
Django==1.5
Epsilon==0.6.0
GnuPGInterface==0.3.2
Louie==1.1
Mako==0.3.4
MarkupSafe==0.9.2
MySQL-python==1.2.2
Nevow==0.10.0
PAM==0.4.2
PIL==1.1.7
PyOpenGL==3.0.1b2
South==0.7.6
Twisted-Conch==10.1.0
Twisted-Core==10.1.0
Twisted-Web==10.1.0
apt-xapian-index==0.41
chardet==2.0.1
configobj==4.7.2
cups==1.0
distribute==0.6.14
feedparser==4.1
gdata==2.0.8
gnome-app-install==0.4.7-nmu1
httplib2==0.6.0
louis==2.0.0
-e git://github.com/hirunatan/macadjan.git@30457e52892052cef287c27690d84a6b7f50e911#egg=macadjan-0.1.1a1-py2.6-dev
mechanize==0.1.11
mercurial==1.6.4
mod-python==3.3.1
numpy==1.4.1
pexpect==2.3
pyOpenSSL==0.10
pyasn1==0.0.11a
pycrypto==2.1.0
pyserial==2.3
pysqlite==2.6.0
python-apt==0.7.100.1-squeeze1
python-debian==0.1.18-squeeze1
pyxdg==0.19
rdflib==2.4.2
reportbug==4.12.6
screenlets==0.1.2
simplejson==2.1.1
stevedore==0.8
tagpy==0.94.7
uTidylib==0.2
unattended-upgrades==0.1
vboxapi==1.0
virtualenv==1.8.4
virtualenv-clone==0.2.4
virtualenvwrapper==3.6
wsgiref==0.1.2
zope.interface==3.5.3
