/* (re)Estilado */
body {
	background: #FFFFFF  url("../img/fondo.jpg") no-repeat top left;
}

footer {
	padding: 0;
	margin: 0;
}

/* Estilos propios */
.fblancoalfa {
	background-color: rgba(255,255,255,0.7);
	/*border: 1px solid white;*/
}

.posbottom {
	margin-top: 40%;
}

.divaltoindex {
	min-height: 138px;
}

.infoindex {
	/*margin-bottom: 10px;*/
	background-color: transparent;
}

.infoindex header {
	padding: 10px;
	color: #FFFFFF;
	font: 1.5em/1.5 Verdana,Helvetica,Arial,sans-serif;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
}

.infoindex p {
	margin-top: 1px;
	padding-left: 5px;
	background-color: rgba(255,255,255,0.7);
}


