{% extends "base_index.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
	<div class="container posbottom">
			<div class="span1 left"></div>
			<div class="span10 middle">
				<div class="span5 left infoindex">
					<header>¡Viaje con nosotros si quiere gozar!</header>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo dapibus leo eget accumsan. Pellentesque est tortor, pulvinar quis tempor et, aliquam non nisi. Donec leo nunc, vulputate quis feugiat ac, lacinia id mi. Donec pharetra rutrum auctor. Integer eu quam odio. Donec eget eros nec libero laoreet semper eu vel velit.</p>
				</div>
				<div class="span4 right fblancoalfa infoindex">
					<div class="fblancoalfa divaltoindex">
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Facilisis in pretium nisl aliquet</li>
						<li>Nulla volutpat aliquam velit
							<ul>
								<li>Phasellus iaculis neque</li>
								<li>Purus sodales ultricies</li>
								<li>Vestibulum laoreet porttitor sem</li>
								<li>Ac tristique libero volutpat at</li>
							</ul>
						</li>
						<li>Integer molestie lorem at massa</li>
					</ul>
					</div>
				</div>
			<div class="span1 right"></div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
{% endblocktrans %}
{% endblock %}
